<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div id="chart_div"></div>
    <div id="chart_1"></div>
    <div id="MaterialColumnChart1"></div>
    <div id="ComboChart1"></div>
    <div id="ComboChart2"></div>
    <div id="ComboChart3"></div>
    <div id="ComboChartsWithStackedColumn1"></div>
    <div id="StackedColumnChart2"></div>
    <div id="ComboChart4"></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>
    <div id=""></div>

    <script type="module" src="../controllers/main.js"></script>
    <script type="module" src="../model/model.js"></script>
    <script type="module" src="../controllers/DAL.js"></script>
</body>

</html>